:root {
	--vscode-activityBarBadge-background: #007acc;
	--vscode-editor-background: #1e1e1e;
	--vscode-editor-foreground: #d4d4d4;
	--vscode-editor-inactiveSelectionBackground: #3a3d41;
	--vscode-editor-selectionHighlightBackground: #add6ff26;
	--vscode-editorIndentGuide-activeBackground: #707070;
	--vscode-editorIndentGuide-background: #404040;
	--vscode-input-placeholderForeground: #a6a6a6;
	--vscode-list-dropBackground: #383b3d;
	--vscode-menu-background: #252526;
	--vscode-menu-foreground: #cccccc;
	--vscode-notebook-selectedCellBackground: #383b3d50;
	--vscode-sideBarSectionHeader-background: #00000000;
	--vscode-sideBarSectionHeader-border: #cccccc33;
	--vscode-sideBarTitle-foreground: #bbbbbb;
	--vscode-statusBarItem-remoteBackground: #16825d;
	--vscode-statusBarItem-remoteForeground: #ffffff;
	--vscode-tab-lastPinnedBorder: #cccccc33;
	--vscode-activityBar-activeBorder: #ffffff;
	--vscode-activityBar-background: #333333;
	--vscode-activityBar-dropBorder: #ffffff;
	--vscode-activityBar-foreground: #ffffff;
	--vscode-activityBar-inactiveForeground: #ffffff66;
	--vscode-activityBarBadge-foreground: #ffffff;
	--vscode-badge-background: #4d4d4d;
	--vscode-badge-foreground: #ffffff;
	--vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
	--vscode-breadcrumb-background: #1e1e1e;
	--vscode-breadcrumb-focusForeground: #e0e0e0;
	--vscode-breadcrumb-foreground: #cccccccc;
	--vscode-breadcrumbPicker-background: #252526;
	--vscode-button-background: #0e639c;
	--vscode-button-foreground: #ffffff;
	--vscode-button-hoverBackground: #1177bb;
	--vscode-button-secondaryBackground: #3a3d41;
	--vscode-button-secondaryForeground: #ffffff;
	--vscode-button-secondaryHoverBackground: #45494e;
	--vscode-charts-blue: #75beff;
	--vscode-charts-foreground: #cccccc;
	--vscode-charts-green: #89d185;
	--vscode-charts-lines: #cccccc80;
	--vscode-charts-orange: #d18616;
	--vscode-charts-purple: #b180d7;
	--vscode-charts-red: #f48771;
	--vscode-charts-yellow: #cca700;
	--vscode-checkbox-background: #3c3c3c;
	--vscode-checkbox-border: #3c3c3c;
	--vscode-checkbox-foreground: #f0f0f0;
	--vscode-debugConsole-errorForeground: #f48771;
	--vscode-debugConsole-infoForeground: #75beff;
	--vscode-debugConsole-sourceForeground: #cccccc;
	--vscode-debugConsole-warningForeground: #cca700;
	--vscode-debugConsoleInputIcon-foreground: #cccccc;
	--vscode-debugExceptionWidget-background: #420b0d;
	--vscode-debugExceptionWidget-border: #a31515;
	--vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
	--vscode-debugIcon-breakpointDisabledForeground: #848484;
	--vscode-debugIcon-breakpointForeground: #e51400;
	--vscode-debugIcon-breakpointStackframeForeground: #89d185;
	--vscode-debugIcon-breakpointUnverifiedForeground: #848484;
	--vscode-debugIcon-continueForeground: #75beff;
	--vscode-debugIcon-disconnectForeground: #f48771;
	--vscode-debugIcon-pauseForeground: #75beff;
	--vscode-debugIcon-restartForeground: #89d185;
	--vscode-debugIcon-startForeground: #89d185;
	--vscode-debugIcon-stepBackForeground: #75beff;
	--vscode-debugIcon-stepIntoForeground: #75beff;
	--vscode-debugIcon-stepOutForeground: #75beff;
	--vscode-debugIcon-stepOverForeground: #75beff;
	--vscode-debugIcon-stopForeground: #f48771;
	--vscode-debugTokenExpression-boolean: #4e94ce;
	--vscode-debugTokenExpression-error: #f48771;
	--vscode-debugTokenExpression-name: #c586c0;
	--vscode-debugTokenExpression-number: #b5cea8;
	--vscode-debugTokenExpression-string: #ce9178;
	--vscode-debugTokenExpression-value: #cccccc99;
	--vscode-debugToolBar-background: #333333;
	--vscode-debugView-exceptionLabelBackground: #6c2022;
	--vscode-debugView-exceptionLabelForeground: #cccccc;
	--vscode-debugView-stateLabelBackground: #88888844;
	--vscode-debugView-stateLabelForeground: #cccccc;
	--vscode-debugView-valueChangedHighlight: #569cd6;
	--vscode-descriptionForeground: #ccccccb3;
	--vscode-diffEditor-diagonalFill: #cccccc33;
	--vscode-diffEditor-insertedTextBackground: #9bb95533;
	--vscode-diffEditor-removedTextBackground: #ff000033;
	--vscode-dropdown-background: #3c3c3c;
	--vscode-dropdown-border: #3c3c3c;
	--vscode-dropdown-foreground: #f0f0f0;
	--vscode-editor-findMatchBackground: #515c6a;
	--vscode-editor-findMatchHighlightBackground: #ea5c0055;
	--vscode-editor-findRangeHighlightBackground: #3a3d4166;
	--vscode-editor-focusedStackFrameHighlightBackground: #7abd7a4d;
	--vscode-editor-foldBackground: #264f784d;
	--vscode-editor-hoverHighlightBackground: #264f7840;
	--vscode-editor-lineHighlightBorder: #282828;
	--vscode-editor-linkedEditingBackground: #ff00004d;
	--vscode-editor-rangeHighlightBackground: #ffffff0b;
	--vscode-editor-selectionBackground: #264f78;
	--vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
	--vscode-editor-snippetTabstopHighlightBackground: #7c7c7c4d;
	--vscode-editor-stackFrameHighlightBackground: #ffff0033;
	--vscode-editor-symbolHighlightBackground: #ea5c0055;
	--vscode-editor-wordHighlightBackground: #575757b8;
	--vscode-editor-wordHighlightStrongBackground: #004972b8;
	--vscode-editorActiveLineNumber-foreground: #c6c6c6;
	--vscode-editorBracketMatch-background: #0064001a;
	--vscode-editorBracketMatch-border: #888888;
	--vscode-editorCodeLens-foreground: #999999;
	--vscode-editorCursor-foreground: #aeafad;
	--vscode-editorError-foreground: #f48771;
	--vscode-editorGroup-border: #444444;
	--vscode-editorGroup-dropBackground: #53595d80;
	--vscode-editorGroupHeader-noTabsBackground: #1e1e1e;
	--vscode-editorGroupHeader-tabsBackground: #252526;
	--vscode-editorGutter-addedBackground: #587c0c;
	--vscode-editorGutter-background: #1e1e1e;
	--vscode-editorGutter-commentRangeForeground: #c5c5c5;
	--vscode-editorGutter-deletedBackground: #94151b;
	--vscode-editorGutter-foldingControlForeground: #c5c5c5;
	--vscode-editorGutter-modifiedBackground: #0c7d9d;
	--vscode-editorHint-foreground: #eeeeeeb3;
	--vscode-editorHoverWidget-background: #252526;
	--vscode-editorHoverWidget-border: #454545;
	--vscode-editorHoverWidget-foreground: #cccccc;
	--vscode-editorHoverWidget-statusBarBackground: #2c2c2d;
	--vscode-editorInfo-foreground: #75beff;
	--vscode-editorInlineHint-background: #cccccc;
	--vscode-editorInlineHint-foreground: #252526;
	--vscode-editorLightBulb-foreground: #ffcc00;
	--vscode-editorLightBulbAutoFix-foreground: #75beff;
	--vscode-editorLineNumber-activeForeground: #c6c6c6;
	--vscode-editorLineNumber-foreground: #858585;
	--vscode-editorLink-activeForeground: #4e94ce;
	--vscode-editorMarkerNavigation-background: #2d2d30;
	--vscode-editorMarkerNavigationError-background: #f48771;
	--vscode-editorMarkerNavigationInfo-background: #75beff;
	--vscode-editorMarkerNavigationWarning-background: #cca700;
	--vscode-editorOverviewRuler-addedForeground: #587c0c99;
	--vscode-editorOverviewRuler-border: #7f7f7f4d;
	--vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
	--vscode-editorOverviewRuler-commonContentForeground: #60606066;
	--vscode-editorOverviewRuler-currentContentForeground: #40c8ae80;
	--vscode-editorOverviewRuler-deletedForeground: #94151b99;
	--vscode-editorOverviewRuler-errorForeground: #ff1212b3;
	--vscode-editorOverviewRuler-findMatchForeground: #d186167e;
	--vscode-editorOverviewRuler-incomingContentForeground: #40a6ff80;
	--vscode-editorOverviewRuler-infoForeground: #75beff;
	--vscode-editorOverviewRuler-modifiedForeground: #0c7d9d99;
	--vscode-editorOverviewRuler-rangeHighlightForeground: #007acc99;
	--vscode-editorOverviewRuler-selectionHighlightForeground: #a0a0a0cc;
	--vscode-editorOverviewRuler-warningForeground: #cca700;
	--vscode-editorOverviewRuler-wordHighlightForeground: #a0a0a0cc;
	--vscode-editorOverviewRuler-wordHighlightStrongForeground: #c0a0c0cc;
	--vscode-editorPane-background: #1e1e1e;
	--vscode-editorRuler-foreground: #5a5a5a;
	--vscode-editorSuggestWidget-background: #252526;
	--vscode-editorSuggestWidget-border: #454545;
	--vscode-editorSuggestWidget-foreground: #d4d4d4;
	--vscode-editorSuggestWidget-highlightForeground: #0097fb;
	--vscode-editorSuggestWidget-selectedBackground: #062f4a;
	--vscode-editorUnnecessaryCode-opacity: #000000aa;
	--vscode-editorWarning-foreground: #cca700;
	--vscode-editorWhitespace-foreground: #e3e4e229;
	--vscode-editorWidget-background: #252526;
	--vscode-editorWidget-border: #454545;
	--vscode-editorWidget-foreground: #cccccc;
	--vscode-errorForeground: #f48771;
	--vscode-extensionBadge-remoteBackground: #007acc;
	--vscode-extensionBadge-remoteForeground: #ffffff;
	--vscode-extensionButton-prominentBackground: #0e639c;
	--vscode-extensionButton-prominentForeground: #ffffff;
	--vscode-extensionButton-prominentHoverBackground: #1177bb;
	--vscode-extensionIcon-starForeground: #ff8e00;
	--vscode-focusBorder: #007fd4;
	--vscode-foreground: #cccccc;
	--vscode-gitDecoration-addedResourceForeground: #81b88b;
	--vscode-gitDecoration-conflictingResourceForeground: #e4676b;
	--vscode-gitDecoration-deletedResourceForeground: #c74e39;
	--vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
	--vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
	--vscode-gitDecoration-renamedResourceForeground: #73c991;
	--vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
	--vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
	--vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
	--vscode-gitDecoration-untrackedResourceForeground: #73c991;
	--vscode-icon-foreground: #c5c5c5;
	--vscode-imagePreview-border: #80808059;
	--vscode-input-background: #3c3c3c;
	--vscode-input-foreground: #cccccc;
	--vscode-inputOption-activeBackground: #007fd466;
	--vscode-inputOption-activeBorder: #007acc00;
	--vscode-inputOption-activeForeground: #ffffff;
	--vscode-inputValidation-errorBackground: #5a1d1d;
	--vscode-inputValidation-errorBorder: #be1100;
	--vscode-inputValidation-infoBackground: #063b49;
	--vscode-inputValidation-infoBorder: #007acc;
	--vscode-inputValidation-warningBackground: #352a05;
	--vscode-inputValidation-warningBorder: #b89500;
	--vscode-list-activeSelectionBackground: #094771;
	--vscode-list-activeSelectionForeground: #ffffff;
	--vscode-list-deemphasizedForeground: #8c8c8c;
	--vscode-list-errorForeground: #f88070;
	--vscode-list-filterMatchBackground: #ea5c0055;
	--vscode-list-focusOutline: #007fd4;
	--vscode-list-highlightForeground: #0097fb;
	--vscode-list-hoverBackground: #2a2d2e;
	--vscode-list-inactiveSelectionBackground: #37373d;
	--vscode-list-invalidItemForeground: #b89500;
	--vscode-list-warningForeground: #cca700;
	--vscode-listFilterWidget-background: #653723;
	--vscode-listFilterWidget-noMatchesOutline: #be1100;
	--vscode-listFilterWidget-outline: #00000000;
	--vscode-menu-selectionBackground: #094771;
	--vscode-menu-selectionForeground: #ffffff;
	--vscode-menu-separatorBackground: #bbbbbb;
	--vscode-menubar-selectionBackground: #ffffff1a;
	--vscode-menubar-selectionForeground: #cccccc;
	--vscode-merge-commonContentBackground: #60606029;
	--vscode-merge-commonHeaderBackground: #60606066;
	--vscode-merge-currentContentBackground: #40c8ae33;
	--vscode-merge-currentHeaderBackground: #40c8ae80;
	--vscode-merge-incomingContentBackground: #40a6ff33;
	--vscode-merge-incomingHeaderBackground: #40a6ff80;
	--vscode-minimap-errorHighlight: #ff1212b3;
	--vscode-minimap-findMatchHighlight: #d18616;
	--vscode-minimap-selectionHighlight: #264f78;
	--vscode-minimap-warningHighlight: #cca700;
	--vscode-minimapGutter-addedBackground: #587c0c;
	--vscode-minimapGutter-deletedBackground: #94151b;
	--vscode-minimapGutter-modifiedBackground: #0c7d9d;
	--vscode-minimapSlider-activeBackground: #bfbfbf33;
	--vscode-minimapSlider-background: #79797933;
	--vscode-minimapSlider-hoverBackground: #64646459;
	--vscode-notebook-cellBorderColor: #37373d;
	--vscode-notebook-cellInsertionIndicator: #007fd4;
	--vscode-notebook-cellStatusBarItemHoverBackground: #ffffff26;
	--vscode-notebook-cellToolbarSeparator: #80808059;
	--vscode-notebook-focusedCellBorder: #007fd4;
	--vscode-notebook-focusedEditorBorder: #007fd4;
	--vscode-notebook-focusedRowBorder: #ffffff1f;
	--vscode-notebook-inactiveFocusedCellBorder: #37373d;
	--vscode-notebook-outputContainerBackgroundColor: #37373d;
	--vscode-notebook-rowHoverBackground: #80808012;
	--vscode-notebook-selectedCellBorder: #37373d;
	--vscode-notebook-symbolHighlightBackground: #ffffff0b;
	--vscode-notebookScrollbarSlider-activeBackground: #bfbfbf66;
	--vscode-notebookScrollbarSlider-background: #79797966;
	--vscode-notebookScrollbarSlider-hoverBackground: #646464b3;
	--vscode-notebookStatusErrorIcon-foreground: #f48771;
	--vscode-notebookStatusRunningIcon-foreground: #cccccc;
	--vscode-notebookStatusSuccessIcon-foreground: #89d185;
	--vscode-notificationCenterHeader-background: #303031;
	--vscode-notificationLink-foreground: #3794ff;
	--vscode-notifications-background: #252526;
	--vscode-notifications-border: #303031;
	--vscode-notifications-foreground: #cccccc;
	--vscode-notificationsErrorIcon-foreground: #f48771;
	--vscode-notificationsInfoIcon-foreground: #75beff;
	--vscode-notificationsWarningIcon-foreground: #cca700;
	--vscode-panel-background: #1e1e1e;
	--vscode-panel-border: #80808059;
	--vscode-panel-dropBorder: #e7e7e7;
	--vscode-panelSection-border: #80808059;
	--vscode-panelSection-dropBackground: #53595d80;
	--vscode-panelSectionHeader-background: #80808033;
	--vscode-panelTitle-activeBorder: #e7e7e7;
	--vscode-panelTitle-activeForeground: #e7e7e7;
	--vscode-panelTitle-inactiveForeground: #e7e7e799;
	--vscode-peekView-border: #007acc;
	--vscode-peekViewEditor-background: #001f33;
	--vscode-peekViewEditor-matchHighlightBackground: #ff8f0099;
	--vscode-peekViewEditorGutter-background: #001f33;
	--vscode-peekViewResult-background: #252526;
	--vscode-peekViewResult-fileForeground: #ffffff;
	--vscode-peekViewResult-lineForeground: #bbbbbb;
	--vscode-peekViewResult-matchHighlightBackground: #ea5c004d;
	--vscode-peekViewResult-selectionBackground: #3399ff33;
	--vscode-peekViewResult-selectionForeground: #ffffff;
	--vscode-peekViewTitle-background: #1e1e1e;
	--vscode-peekViewTitleDescription-foreground: #ccccccb3;
	--vscode-peekViewTitleLabel-foreground: #ffffff;
	--vscode-pickerGroup-border: #3f3f46;
	--vscode-pickerGroup-foreground: #3794ff;
	--vscode-problemsErrorIcon-foreground: #f48771;
	--vscode-problemsInfoIcon-foreground: #75beff;
	--vscode-problemsWarningIcon-foreground: #cca700;
	--vscode-progressBar-background: #0e70c0;
	--vscode-quickInput-background: #252526;
	--vscode-quickInput-foreground: #cccccc;
	--vscode-quickInputList-focusBackground: #062f4a;
	--vscode-quickInputTitle-background: #ffffff1b;
	--vscode-sash-hoverBorder: #007fd4;
	--vscode-scm-providerBorder: #454545;
	--vscode-scrollbar-shadow: #000000;
	--vscode-scrollbarSlider-activeBackground: #bfbfbf66;
	--vscode-scrollbarSlider-background: #79797966;
	--vscode-scrollbarSlider-hoverBackground: #646464b3;
	--vscode-searchEditor-findMatchBackground: #ea5c0038;
	--vscode-settings-checkboxBackground: #3c3c3c;
	--vscode-settings-checkboxBorder: #3c3c3c;
	--vscode-settings-checkboxForeground: #f0f0f0;
	--vscode-settings-dropdownBackground: #3c3c3c;
	--vscode-settings-dropdownBorder: #3c3c3c;
	--vscode-settings-dropdownForeground: #f0f0f0;
	--vscode-settings-dropdownListBorder: #454545;
	--vscode-settings-focusedRowBackground: #80808024;
	--vscode-settings-headerForeground: #e7e7e7;
	--vscode-settings-modifiedItemIndicator: #0c7d9d;
	--vscode-settings-numberInputBackground: #3c3c3c;
	--vscode-settings-numberInputForeground: #cccccc;
	--vscode-settings-textInputBackground: #3c3c3c;
	--vscode-settings-textInputForeground: #cccccc;
	--vscode-sideBar-background: #252526;
	--vscode-sideBar-dropBackground: #53595d80;
	--vscode-statusBar-background: #007acc;
	--vscode-statusBar-debuggingBackground: #cc6633;
	--vscode-statusBar-debuggingForeground: #ffffff;
	--vscode-statusBar-foreground: #ffffff;
	--vscode-statusBar-noFolderBackground: #68217a;
	--vscode-statusBar-noFolderForeground: #ffffff;
	--vscode-statusBarItem-activeBackground: #ffffff2e;
	--vscode-statusBarItem-errorBackground: #c72e0f;
	--vscode-statusBarItem-errorForeground: #ffffff;
	--vscode-statusBarItem-hoverBackground: #ffffff1f;
	--vscode-statusBarItem-prominentBackground: #00000080;
	--vscode-statusBarItem-prominentForeground: #ffffff;
	--vscode-statusBarItem-prominentHoverBackground: #0000004d;
	--vscode-symbolIcon-arrayForeground: #cccccc;
	--vscode-symbolIcon-booleanForeground: #cccccc;
	--vscode-symbolIcon-classForeground: #ee9d28;
	--vscode-symbolIcon-colorForeground: #cccccc;
	--vscode-symbolIcon-constantForeground: #cccccc;
	--vscode-symbolIcon-constructorForeground: #b180d7;
	--vscode-symbolIcon-enumeratorForeground: #ee9d28;
	--vscode-symbolIcon-enumeratorMemberForeground: #75beff;
	--vscode-symbolIcon-eventForeground: #ee9d28;
	--vscode-symbolIcon-fieldForeground: #75beff;
	--vscode-symbolIcon-fileForeground: #cccccc;
	--vscode-symbolIcon-folderForeground: #cccccc;
	--vscode-symbolIcon-functionForeground: #b180d7;
	--vscode-symbolIcon-interfaceForeground: #75beff;
	--vscode-symbolIcon-keyForeground: #cccccc;
	--vscode-symbolIcon-keywordForeground: #cccccc;
	--vscode-symbolIcon-methodForeground: #b180d7;
	--vscode-symbolIcon-moduleForeground: #cccccc;
	--vscode-symbolIcon-namespaceForeground: #cccccc;
	--vscode-symbolIcon-nullForeground: #cccccc;
	--vscode-symbolIcon-numberForeground: #cccccc;
	--vscode-symbolIcon-objectForeground: #cccccc;
	--vscode-symbolIcon-operatorForeground: #cccccc;
	--vscode-symbolIcon-packageForeground: #cccccc;
	--vscode-symbolIcon-propertyForeground: #cccccc;
	--vscode-symbolIcon-referenceForeground: #cccccc;
	--vscode-symbolIcon-snippetForeground: #cccccc;
	--vscode-symbolIcon-stringForeground: #cccccc;
	--vscode-symbolIcon-structForeground: #cccccc;
	--vscode-symbolIcon-textForeground: #cccccc;
	--vscode-symbolIcon-typeParameterForeground: #cccccc;
	--vscode-symbolIcon-unitForeground: #cccccc;
	--vscode-symbolIcon-variableForeground: #75beff;
	--vscode-tab-activeBackground: #1e1e1e;
	--vscode-tab-activeForeground: #ffffff;
	--vscode-tab-activeModifiedBorder: #3399cc;
	--vscode-tab-border: #252526;
	--vscode-tab-inactiveBackground: #2d2d2d;
	--vscode-tab-inactiveForeground: #ffffff80;
	--vscode-tab-inactiveModifiedBorder: #3399cc80;
	--vscode-tab-unfocusedActiveBackground: #1e1e1e;
	--vscode-tab-unfocusedActiveForeground: #ffffff80;
	--vscode-tab-unfocusedActiveModifiedBorder: #3399cc80;
	--vscode-tab-unfocusedInactiveBackground: #2d2d2d;
	--vscode-tab-unfocusedInactiveForeground: #ffffff40;
	--vscode-tab-unfocusedInactiveModifiedBorder: #3399cc40;
	--vscode-terminal-ansiBlack: #000000;
	--vscode-terminal-ansiBlue: #2472c8;
	--vscode-terminal-ansiBrightBlack: #666666;
	--vscode-terminal-ansiBrightBlue: #3b8eea;
	--vscode-terminal-ansiBrightCyan: #29b8db;
	--vscode-terminal-ansiBrightGreen: #23d18b;
	--vscode-terminal-ansiBrightMagenta: #d670d6;
	--vscode-terminal-ansiBrightRed: #f14c4c;
	--vscode-terminal-ansiBrightWhite: #e5e5e5;
	--vscode-terminal-ansiBrightYellow: #f5f543;
	--vscode-terminal-ansiCyan: #11a8cd;
	--vscode-terminal-ansiGreen: #0dbc79;
	--vscode-terminal-ansiMagenta: #bc3fbc;
	--vscode-terminal-ansiRed: #cd3131;
	--vscode-terminal-ansiWhite: #e5e5e5;
	--vscode-terminal-ansiYellow: #e5e510;
	--vscode-terminal-border: #80808059;
	--vscode-terminal-foreground: #cccccc;
	--vscode-terminal-selectionBackground: #ffffff40;
	--vscode-testing-iconErrored: #f14c4c;
	--vscode-testing-iconFailed: #f14c4c;
	--vscode-testing-iconPassed: #73c991;
	--vscode-testing-iconQueued: #cca700;
	--vscode-testing-iconSkipped: #848484;
	--vscode-testing-iconUnset: #848484;
	--vscode-testing-message-error-decorationForeground: #f48771;
	--vscode-testing-message-error-lineBackground: #ff000033;
	--vscode-testing-message-hint-decorationForeground: #eeeeeeb3;
	--vscode-testing-message-info-decorationForeground: #75beff;
	--vscode-testing-message-info-lineBackground: #007fff33;
	--vscode-testing-message-warning-decorationForeground: #cca700;
	--vscode-testing-message-warning-lineBackground: #ffd00033;
	--vscode-testing-peekBorder: #f48771;
	--vscode-testing-runAction: #73c991;
	--vscode-textBlockQuote-background: #7f7f7f1a;
	--vscode-textBlockQuote-border: #007acc80;
	--vscode-textCodeBlock-background: #0a0a0a66;
	--vscode-textLink-activeForeground: #3794ff;
	--vscode-textLink-foreground: #3794ff;
	--vscode-textPreformat-foreground: #d7ba7d;
	--vscode-textSeparator-foreground: #ffffff2e;
	--vscode-titleBar-activeBackground: #3c3c3c;
	--vscode-titleBar-activeForeground: #cccccc;
	--vscode-titleBar-inactiveBackground: #3c3c3c99;
	--vscode-titleBar-inactiveForeground: #cccccc99;
	--vscode-tree-indentGuidesStroke: #585858;
	--vscode-tree-tableColumnsBorder: #cccccc20;
	--vscode-unotes-mdCodeBlockBackground: #7f7f7f1a;
	--vscode-unotes-mdCodeBlockText: #e0a161;
	--vscode-unotes-mdHeader: #f1db78;
	--vscode-unotes-mdHighlightText: #d7ba7d;
	--vscode-unotes-mdLink: #3794ff;
	--vscode-unotes-mdListSub1: #d7ba7d;
	--vscode-unotes-mdListSub2: #ccccccb3;
	--vscode-unotes-mdListSub3: #bb96c0;
	--vscode-unotes-mdSelectedBackground: #264f78;
	--vscode-unotes-mdTableDelimiter: #d7ba7d;
	--vscode-unotes-mdTableText: #d7ba7d;
	--vscode-unotes-mdText: #cccccc;
	--vscode-unotes-pvCodeAddition: #387221;
	--vscode-unotes-pvCodeComment: #999988;
	--vscode-unotes-pvCodeDeletion: #722113;
	--vscode-unotes-pvCodeKeyword: #3e4d75;
	--vscode-unotes-pvCodeNumber: #3e7550;
	--vscode-unotes-pvCodeString: #b64f69;
	--vscode-unotes-pvCodeText: #333333;
	--vscode-unotes-pvCodeTitle: #abb61a;
	--vscode-unotes-pvCodeType: #445588;
	--vscode-unotes-wysBlockquote: #c5c5c5;
	--vscode-unotes-wysCodeBlockBackground: #7f7f7f1a;
	--vscode-unotes-wysCodeBlockText: #d4d4d4;
	--vscode-unotes-wysH1: #ffffff;
	--vscode-unotes-wysH2: #cccccc;
	--vscode-unotes-wysH3H4: #cccccc99;
	--vscode-unotes-wysH5H6: #cccccc99;
	--vscode-unotes-wysHighlight: #d7ba7d;
	--vscode-unotes-wysLink: #3794ff;
	--vscode-unotes-wysLinkHover: #3794ff;
	--vscode-unotes-wysList: #bdbdbd;
	--vscode-unotes-wysTableTdBorder: #313131;
	--vscode-unotes-wysTableText: #bbbbbb;
	--vscode-unotes-wysTableThBackground: #484b4d;
	--vscode-unotes-wysTableThBorder: #72777b;
	--vscode-unotes-wysTableThText: #ffffff;
	--vscode-unotes-wysText: #d4d4d4;
	--vscode-welcomePage-progress-background: #3c3c3c;
	--vscode-welcomePage-progress-foreground: #3794ff;
	--vscode-welcomePage-tileBackground: #252526;
	--vscode-welcomePage-tileHoverBackground: #2c2c2d;
	--vscode-widget-shadow: #0000005c;
	--vscode-activityBar-activeBackground: null;
	--vscode-activityBar-activeFocusBorder: null;
	--vscode-activityBar-border: null;
	--vscode-contrastActiveBorder: null;
	--vscode-contrastBorder: null;
	--vscode-debugToolBar-border: null;
	--vscode-diffEditor-border: null;
	--vscode-diffEditor-insertedTextBorder: null;
	--vscode-diffEditor-removedTextBorder: null;
	--vscode-dropdown-listBackground: null;
	--vscode-editor-findMatchBorder: null;
	--vscode-editor-findMatchHighlightBorder: null;
	--vscode-editor-findRangeHighlightBorder: null;
	--vscode-editor-lineHighlightBackground: null;
	--vscode-editor-rangeHighlightBorder: null;
	--vscode-editor-selectionForeground: null;
	--vscode-editor-selectionHighlightBorder: null;
	--vscode-editor-snippetFinalTabstopHighlightBackground: null;
	--vscode-editor-snippetTabstopHighlightBorder: null;
	--vscode-editor-symbolHighlightBorder: null;
	--vscode-editor-wordHighlightBorder: null;
	--vscode-editor-wordHighlightStrongBorder: null;
	--vscode-editorCursor-background: null;
	--vscode-editorError-background: null;
	--vscode-editorError-border: null;
	--vscode-editorGroup-background: null;
	--vscode-editorGroup-emptyBackground: null;
	--vscode-editorGroup-focusedEmptyBorder: null;
	--vscode-editorGroupHeader-border: null;
	--vscode-editorGroupHeader-tabsBorder: null;
	--vscode-editorHint-border: null;
	--vscode-editorInfo-background: null;
	--vscode-editorInfo-border: null;
	--vscode-editorOverviewRuler-background: null;
	--vscode-editorUnnecessaryCode-border: null;
	--vscode-editorWarning-background: null;
	--vscode-editorWarning-border: null;
	--vscode-editorWidget-resizeBorder: null;
	--vscode-input-border: null;
	--vscode-inputValidation-errorForeground: null;
	--vscode-inputValidation-infoForeground: null;
	--vscode-inputValidation-warningForeground: null;
	--vscode-list-filterMatchBorder: null;
	--vscode-list-focusBackground: null;
	--vscode-list-focusForeground: null;
	--vscode-list-hoverForeground: null;
	--vscode-list-inactiveFocusBackground: null;
	--vscode-list-inactiveFocusOutline: null;
	--vscode-list-inactiveSelectionForeground: null;
	--vscode-menu-border: null;
	--vscode-menu-selectionBorder: null;
	--vscode-menubar-selectionBorder: null;
	--vscode-merge-border: null;
	--vscode-minimap-background: null;
	--vscode-notebook-cellHoverBackground: null;
	--vscode-notebook-focusedCellBackground: null;
	--vscode-notificationCenter-border: null;
	--vscode-notificationCenterHeader-foreground: null;
	--vscode-notificationToast-border: null;
	--vscode-panelInput-border: null;
	--vscode-panelSectionHeader-border: null;
	--vscode-panelSectionHeader-foreground: null;
	--vscode-peekViewEditor-matchHighlightBorder: null;
	--vscode-quickInput-list-focusBackground: null;
	--vscode-searchEditor-findMatchBorder: null;
	--vscode-searchEditor-textInputBorder: null;
	--vscode-selection-background: null;
	--vscode-settings-numberInputBorder: null;
	--vscode-settings-textInputBorder: null;
	--vscode-sideBar-border: null;
	--vscode-sideBar-foreground: null;
	--vscode-sideBarSectionHeader-foreground: null;
	--vscode-statusBar-border: null;
	--vscode-statusBar-debuggingBorder: null;
	--vscode-statusBar-noFolderBorder: null;
	--vscode-tab-activeBorder: null;
	--vscode-tab-activeBorderTop: null;
	--vscode-tab-hoverBackground: null;
	--vscode-tab-hoverBorder: null;
	--vscode-tab-hoverForeground: null;
	--vscode-tab-unfocusedActiveBorder: null;
	--vscode-tab-unfocusedActiveBorderTop: null;
	--vscode-tab-unfocusedHoverBackground: null;
	--vscode-tab-unfocusedHoverBorder: null;
	--vscode-tab-unfocusedHoverForeground: null;
	--vscode-terminal-background: null;
	--vscode-terminalCursor-background: null;
	--vscode-terminalCursor-foreground: null;
	--vscode-testing-message-hint-lineBackground: null;
	--vscode-titleBar-border: null;
	--vscode-walkThrough-embeddedEditorBackground: null;
	--vscode-welcomePage-background: null;
	--vscode-welcomePage-buttonBackground: null;
	--vscode-welcomePage-buttonHoverBackground: null;
	--vscode-window-activeBorder: null;
	--vscode-window-inactiveBorder: null;
}
